body {
    margin: 10px auto;
    width: 920px;
    background-color: black;
    color: #549f0c;
}

section {
    border: 1px solid #898888;
    margin: 5px;
    padding: 10px;
    width: 580px;
}

.language p {
    margin: 3px;
}

#checkedList {
    width: 450px;
}

.gallery {
    width: 900px;
}

.gallery img {
    height: 130px;
}

.selected {
    filter: grayscale(100%);
    opacity: 0.5;
}

.not-selected {
    filter: grayscale(0%);
    opacity: 1;
}

.form {
    width: 300px;
}

.form fieldset {
    margin: 10px;
}

.select-input {
    background-color: darkcyan;
}

.block {
    float: left;
}

.board {
    position: relative;
    margin: 10px;
}

.shape {
    position: absolute;
    left: 20px;
    top: 100px;
    text-align: center;
    line-height: 200px;
    background-color: darkcyan;
}

.num {
    width: 40px;
}

.image {
    width: 400px;
}

.big-size {
    width: 800px;
}

.products {
    margin: 0 auto;
    width: 300px;
}

.products table, .products td {
    border-collapse: collapse;
}

.products td {
    border: 1px dashed limegreen;
    padding: 5px;

}

/*task 10*/
.slide {
    position: relative;
}

#boardImage {
    transition: all 0.5s ease-out;
    opacity: 0;
    width: 600px;
}

.button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: darkcyan;
    position: absolute;
    top: 150px;
    border: 2px solid grey;
}
.button:active{
    border: 1px solid darkcyan;
}

.button span {
    display: block;
    position: absolute;
    left: 8px;
    top: 8px;
    border-top: 10px solid transparent; /* Задаємо ліву грань */
    border-bottom: 10px solid transparent; /* Задаємо праву грань */

}

.previous span{
    border-right: 15px solid #ffa; /* Задаємо нижню грань, змінюйте колір на потрібний */
}

.next span{
    left: 12px;
    border-left: 15px solid #ffa; /* Задаємо нижню грань, змінюйте колір на потрібний */
}

.next {
    left: 565px;

}


