body {
    margin:  10px auto;
    width: 920px;
    background-color: black;
    color: #549f0c;
}
section{
    border: 1px solid #898888;
    margin: 5px;
    padding: 10px;
}

.language p {
    margin: 3px;
}

#checkedList {
    width: 450px;
}

.gallery{
    width: 900px;
}

.gallery img{
    height: 130px;
}

.selected{
    filter: grayscale(100%);
    opacity: 0.5;
}
.not-selected{
    filter: grayscale(0%);
    opacity: 1;
}